body
{
    background: linear-gradient(#F0F0F0  ,#C0C0C0 ); 
    min-height: 800px;
}

ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    width: 200px;
    padding: 2px 2px 1px 2px;
    background-color: #9ce;
    border: 3px double #28e;
}

ul li {
    border-bottom: 1px solid #9ce;
}

ul a:link, ul a:visited {
    display: block;
    width: 176px;
    text-decoration: none;
    padding: 7px;
    font-weight: bold;
    background-color: #27c;
    color: #def;
    border-left: 10px solid #25b;
}

ul a:hover {
    width: 166px;
    background-color: #28e;
    color: #fff;
    border-left: 20px solid #26d;
}

#content
{
    position: absolute;
    top: 150px;
    left: 20%;
    background-color: white;
    border: 1px #245269 solid;
    min-width: 800px;  
}

.navA
{
    color : black;    
}

#content table
{
    margin: 0px auto;
}

#content table th
{
    border:1px solid green;
    background-color:green;
    color:white;
}

#content table th a
{
    color : white;
}

#content table tr td
{
    text-align:right;
    border : 1px;
    padding:15px;
}
h1
{
    color: #285e8e;
    text-align:center

}

