html 
{
  position: relative;
  min-height: 100%;
}

body 
{
    min-height: 600px;
    padding-top: 70px;
    padding-bottom: 60px;
}



/* article */
.article
{
	margin-top: 25px;
	margin-bottom: 20px;
}

.articleLink 
{
	text-decoration: none !important;
    float: right;
    color: #707070 !important;
    font-size: 10px;   
    font-weight: normal;
    margin-top: 20px;
}



/* sidebar */
.sidebar-module
{
	margin-top: 25px;
	margin-bottom: 15px;
}
.sidebar-module-inset 
{
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}



/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
