img.demo {
	margin: 5px;
	border-top: 5px #fff solid;
	border-right: 5px #fff solid;
	border-left: 5px #fff solid;
	border-bottom: 50px #fff solid;
}
#galeria {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 10px;
	height: 100%;
}
#box {
	width: 620px;
	height: 200px;
	background-color: #333333;
	margin: 0 auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	border: 1px solid #999999;
}
#box ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#box li {
	display: block;
	float: left;
	width: 138px;
	text-align: center;
	overflow: hidden;
	margin: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
#box li:hover {
	background-color: #666666;
	cursor:pointer;
}
#galeria h4 {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #FFFFFF;
	font-size: 11px;
}
#galeria img {
	border: 1px solid #FFFFFF;
	margin: 0px;
	padding: 0px;
	width: 125px;
	height: auto;
}
#galeria p {
	font-size: 11px;
	margin: 0px;
	padding: 5px;
	color: #999999;
	font-weight: bold;
}