{foreach $news as $v}
 <div class="row article">
  <h3> <a href="?strona=publikacja&amp;id={$v.pub_id}">{$v.pub_title}</a> </h3>
  <h6>{$v.pub_date} - napisany przez: {$v.user_name}</h6>
  {$v.pub_tresc}
 </div>
{/foreach}
