{if isset($error) && !empty($error)}
 <div class="error">
 {if $error == 'nouser'}
  Nie znaleziono użytkownika o takim logine/haśle.
 {/if}
 </div>
{/if}

{if !isset($status)}
<form method="POST" action="index.php?strona=login&amp;step=2">
 <div>
  <b>E-Mail:</b> <input type="text" name="login">
 </div>
 <div>
  <b>Hasło:</b> <input type="password" name="haslo">
 </div>
 
 <div>
  <input type="submit" value="Zaloguj" name="loguj">
 </div>
</form>
{else}
 <div class="success">
  Zostałeś pomyślnie zalogowany
 </div>
{/if}