
 <div class="row article">
     Publikacje w dziale {foreach $nazwaDzialu as $v}{$v.nazwa}{/foreach}:
     <ol>
{foreach $pub as $v}
    {if $v.akceptacja == 1}
  <li> <a href="?strona=publikacja&amp;id={$v.id}">{$v.tytul}</a> </li>  
    {/if}
{/foreach}
     </ol>
</div>