{foreach $pub as $v}
    {if $v.akceptacja == 1}
 <div class="row article">
  <h3> {$v.tytul}</h3>
  <h6>{$v.dataPublikacji} - napisany przez: {$v.nazwaWyswietlana}</h6>
  {$v.tresc}
  
 <h6> Galeria: {$v.idGalerii}
      
 </div>
 <div class="row">
     {if !$user_logged}
         <form action="index.php?strona=publikacja&id={$idPub}" method="post">
             <div>
                 Autor: <input type="text" name="autor" value="" required>
             </div>
             <div>
                 Dodaj Komentarz:<br>
                 <textarea name="tresc" cols="50" rows="10" required></textarea>
             </div>
             <div>
                 <input type="submit" value="Dodaj Komentarz" />
                 <input type="hidden" name="idPub" value="{$idPub}">
             </div>
         </form>
         {else}
          <form action="index.php?strona=publikacja&id={$idPub}" method="post">
             
             <div>
                 Dodaj Komentarz:<br>
                 <textarea name="tresc" cols="50" rows="10" required></textarea>
             </div>
             <div>
                 <input type="submit" value="Dodaj Komentarz" />
                 <input type="hidden" name="idPub" value="{$idPub}">
                 <input type="hidden" name="idAut" value="{$user_info.idUzytkownika}">
             </div>              
         </form>
         {/if}
 </div>
    {foreach $kom as $v}
        <div class="row" style="border: 1px solid black;padding: 5px 5px 5px 5px;">
            <h5>Autor: {$v.idAutora}</h5>
            <p>{$v.tresc}</p>
        </div>
    {/foreach}
  {else}
     <div>
       <h3>Nieprawidłowy adres.</h3>

    </div> 
  {/if}
{/foreach}